<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="EmployeeEntity" connectionString="metadata=res://*/DataModel.ModelEmployee.csdl|res://*/DataModel.ModelEmployee.ssdl|res://*/DataModel.ModelEmployee.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EmployeeEntities" connectionString="metadata=res://*/DataModel.ModelEmployee.csdl|res://*/DataModel.ModelEmployee.ssdl|res://*/DataModel.ModelEmployee.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EmployeesEntity" connectionString="metadata=res://*/DataModel.EmployeeModel.csdl|res://*/DataModel.EmployeeModel.ssdl|res://*/DataModel.EmployeeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IncomeEntities" connectionString="metadata=res://*/DataModel.IncomeModel.csdl|res://*/DataModel.IncomeModel.ssdl|res://*/DataModel.IncomeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GenderEntities" connectionString="metadata=res://*/DataModel.GenderModel.csdl|res://*/DataModel.GenderModel.ssdl|res://*/DataModel.GenderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GenderEntity" connectionString="metadata=res://*/DataModel.GenderModel.csdl|res://*/DataModel.GenderModel.ssdl|res://*/DataModel.GenderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GDetailsEntities" connectionString="metadata=res://*/DataModel.GDetailsModel.csdl|res://*/DataModel.GDetailsModel.ssdl|res://*/DataModel.GDetailsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GDetailEntities" connectionString="metadata=res://*/DataModel.GDetailsModel.csdl|res://*/DataModel.GDetailsModel.ssdl|res://*/DataModel.GDetailsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SoldYearEntities" connectionString="metadata=res://*/DataModel.SoldYearModel.csdl|res://*/DataModel.SoldYearModel.ssdl|res://*/DataModel.SoldYearModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SoldYearEntity" connectionString="metadata=res://*/DataModel.SoldYearModel.csdl|res://*/DataModel.SoldYearModel.ssdl|res://*/DataModel.SoldYearModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SoldMonthlyEntities" connectionString="metadata=res://*/DataModel.SoldMonthlyModel.csdl|res://*/DataModel.SoldMonthlyModel.ssdl|res://*/DataModel.SoldMonthlyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SoldDailyEntities" connectionString="metadata=res://*/DataModel.SoldDailyModel.csdl|res://*/DataModel.SoldDailyModel.ssdl|res://*/DataModel.SoldDailyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DailySoldEntities" connectionString="metadata=res://*/DataModel.DailySoldModel.csdl|res://*/DataModel.DailySoldModel.ssdl|res://*/DataModel.DailySoldModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SoldProductDetailEntities" connectionString="metadata=res://*/DataModel.SoldProductDetailModel.csdl|res://*/DataModel.SoldProductDetailModel.ssdl|res://*/DataModel.SoldProductDetailModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SoldProductDetailEntity" connectionString="metadata=res://*/DataModel.SoldProductNameModel.csdl|res://*/DataModel.SoldProductNameModel.ssdl|res://*/DataModel.SoldProductNameModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProductDetailsEntities" connectionString="metadata=res://*/DataModel.ProductDetailsModel.csdl|res://*/DataModel.ProductDetailsModel.ssdl|res://*/DataModel.ProductDetailsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SoldEntities" connectionString="metadata=res://*/DataModel.SoldModel.csdl|res://*/DataModel.SoldModel.ssdl|res://*/DataModel.SoldModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProductDetailEntities" connectionString="metadata=res://*/DataModel.ProductDetailModel.csdl|res://*/DataModel.ProductDetailModel.ssdl|res://*/DataModel.ProductDetailModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProductEntities" connectionString="metadata=res://*/DataModel.ProductModel.csdl|res://*/DataModel.ProductModel.ssdl|res://*/DataModel.ProductModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProductDetailsEntity" connectionString="metadata=res://*/DataModel.ProductDetailsModel.csdl|res://*/DataModel.ProductDetailsModel.ssdl|res://*/DataModel.ProductDetailsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModelEntities" connectionString="metadata=res://*/DataModel.Model.csdl|res://*/DataModel.Model.ssdl|res://*/DataModel.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProductsEntities" connectionString="metadata=res://*/DataModel.ProductsModel.csdl|res://*/DataModel.ProductsModel.ssdl|res://*/DataModel.ProductsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOURA-PC;initial catalog=Mart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>